In [32]:
import pandas as pd

In [24]:
data = pd.read_csv('apply/flight_data.csv')
data.head()

  operator_code  route_code duration
0           AXZ          12    2h 5m
1           DTR          32    3h 7m
2           AXZ          34    7h 3m
3           AXZ          12   2h 15m
4           YUN           8   1h 10m

In [28]:
def dur(d):
    d = d.split()
    return int(d[0].replace('h',''))*60+int(d[1].replace('m',''))

In [29]:
d= data.duration[0]
d.split()

['2h', '5m']

In [30]:
data['dur_mins'] = data.duration.apply(dur)

In [31]:
data.head()

  operator_code  route_code duration  dur_mins
0           AXZ          12    2h 5m       125
1           DTR          32    3h 7m       187
2           AXZ          34    7h 3m       423
3           AXZ          12   2h 15m       135
4           YUN           8   1h 10m        70