In [1]:
import pandas as pd
data = pd.read_csv('flight_data.csv')
data.head()

  operator_code  route_code duration
0           AXZ          12    2h 5m
1           DTR          32    3h 7m
2           AXZ          34    7h 3m
3           AXZ          12   2h 15m
4           YUN           8   1h 10m

## Goal is to convert the col:duration to dur_mins

In [5]:
d = data.duration[0]
d

'2h 5m'

In [4]:
d.split()

['2h', '5m']

In [9]:
int(d.split()[0].replace('h',''))*60

120

In [10]:
int(d.split()[1].replace('m',''))

5

In [11]:
int(d.split()[0].replace('h',''))*60 + int(d.split()[1].replace('m',''))

125

In [13]:
for i,d in enumerate(data.duration):
    dur = int(d.split()[0].replace('h',''))*60 + int(d.split()[1].replace('m',''))
    data.loc[i,'dur_mins'] = dur

In [14]:
data.head()

  operator_code  route_code duration  dur_mins
0           AXZ          12    2h 5m     125.0
1           DTR          32    3h 7m     187.0
2           AXZ          34    7h 3m     423.0
3           AXZ          12   2h 15m     135.0
4           YUN           8   1h 10m      70.0

In [15]:
def dur(d):
    return int(d.split()[0].replace('h',''))*60 + int(d.split()[1].replace('m',''))

In [16]:
data['dur_mins'] = data.duration.apply(dur)

In [17]:
data.head()

  operator_code  route_code duration  dur_mins
0           AXZ          12    2h 5m       125
1           DTR          32    3h 7m       187
2           AXZ          34    7h 3m       423
3           AXZ          12   2h 15m       135
4           YUN           8   1h 10m        70